
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">MATRIX V3</span> Report</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li id="li_dashboard">
        <a href="/generic_report_client/module_dashboard.html">
          <div class="icon">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li id="li_gallery" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">Report Gallery</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Reports</li>
            <li><a href="/generic_report_client/module_gallery_saved_self.html">Saved Reports</a></li>
            <li><a href="/generic_report_client/module_gallery_shared_self.html">Shared Reports</a></li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Reports Storage</li>
            <li><a href="/generic_report_client/module_gallery_saved_all.html">Shared Reports</a></li>
            <li><a href="/generic_report_client/module_gallery_template_all.html">Shared Templates</a></li>
          </ul>
        </div>
      </li>
      <li id="li_kits" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-mortar-board" aria-hidden="true"></i>
          </div>
          <div class="title">Report Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Report Kits</li>
            <li><a href="/generic_report_client/module_report_editor.html">Report Editor</a></li>
            <li><a href="/generic_report_client/module_report_viewer.html">Report Viewer</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-cn flag-icon-squared"></span></a></li>
    </ul>
  </div>
