
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">MATRIX V3</span> Chart</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li id="li_dashboard">
        <a href="/generic_charting_client/module_dashboard.html">
          <div class="icon">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li id="li_gallery" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">Chart Gallery</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Charts</li>
            <li><a href="/generic_charting_client/module_gallery_saved_self.html">Saved Charts</a></li>
            <li><a href="/generic_charting_client/module_gallery_shared_self.html">Shared Charts</a></li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Charts Storage</li>
            <li><a href="/generic_charting_client/module_gallery_shared_all.html">Shared Charts</a></li>
            <li><a href="/generic_charting_client/module_gallery_template_all.html">Shared Templates</a></li>
          </ul>
        </div>
      </li>
      <li id="li_kits" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-mortar-board" aria-hidden="true"></i>
          </div>
          <div class="title">Chart Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Chart Kits</li>
            <li><a href="/generic_charting_client/module_chart_editor.html">Chart Editor</a></li>
            <li><a href="/generic_charting_client/module_chart_viewer.html">Chart Viewer</a></li>
          </ul>
        </div>
      </li>
      <li id="li_dash_gallery" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard Gallery</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Dashboards</li>
            <li><a href="/generic_charting_client/module_gallery_saved_self.html">Saved Dashboards</a></li>
            <li><a href="/generic_charting_client/module_gallery_shared_self.html">Shared Dashboards</a></li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Dashboards Storage</li>
            <li><a href="/generic_charting_client/module_gallery_shared_all.html">Shared Dashboards</a></li>
          </ul>
        </div>
      </li>
      <li id="li_dash_kits" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-mortar-board" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Dashboard Kits</li>
            <li><a href="/generic_charting_client/module_dashboard_editor.html">Dashboard Editor</a></li>
            <li><a href="/generic_charting_client/module_dashboard_viewer.html">Dashboard Viewer</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-cn flag-icon-squared"></span></a></li>
    </ul>
  </div>
