<div id="footerDIV" style="position:absolute;bottom:0;left:0px;right:0px;box-shadow: 0 -1px 2px #c8d1d3;">
  <footer>
      <div class="copy" style="background-color: #FFF;">
        <div class="row">
          <div class="columns small-12">
            <p class="pull-right" style="margin-right: 50px;"><a href="#" style="color:white">返回顶部&nbsp;<i class="fa fa-hand-o-up" aria-hidden="true"></i></a></p>
            <p class="text-center" style="margin-top: 20px;margin-bottom: 20px;"><span id="copyright">Copyright © 2017 MATRIX. All rights reserved.</span></p>
          </div>
        </div>
      </div>
  </footer>
</div>
