
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Report Manager</span> </a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li id="li_dashboard">
        <a href="/generic_report_admin/module_dashboard.html">
          <div class="icon">
            <i class="fa fa-dashboard" aria-hidden="true"></i>
          </div>
          <div class="title">Dashboard</div>
        </a>
      </li>
      <li id="li_gallery" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-cube" aria-hidden="true"></i>
          </div>
          <div class="title">Report Gallery</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> 已处理</li>
            <li><a href="/generic_report_admin/module_checked_report.html">通过审核</a></li>
            <li><a href="/generic_report_admin/module_rejected_report.html">拒绝审核</a></li>
            <li class="line"></li>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> 处理记录</li>
            <li><a href="/generic_report_admin/module_todo_report.html">待处理</a></li>
            <li><a href="/generic_report_admin/module_done_report.html">已处理</a></li>
          </ul>
        </div>
      </li>
<!--      <li id="li_kits" class="dropdown ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <div class="icon">
            <i class="fa fa-mortar-board" aria-hidden="true"></i>
          </div>
          <div class="title">Report Kits</div>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> My Report Kits</li>
            <li><a href="/report_manager/module_report_editor.html">Report Editor</a></li>
            <li><a href="/report_manager/module_report_viewer.html">Report Viewer</a></li>
          </ul>
        </div>
      </li>-->
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-cn flag-icon-squared"></span></a></li>
    </ul>
  </div>
